/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  scrollbar-width: thin; /* Width of scrollbar */
  scrollbar-color: #6b7280 transparent; /* Thumb color and track color */
}

html,
body,
#root {
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: vertical;
  max-height: 150px; /* cap height */
  min-height: 80px; /* optional minimum */
}
